.NavBar{
    background-color: #831083;
    height: 80px;
    width: 100vw;
    display: flex;
    animation-name: slideNav ;
    animation-duration : 3s;
    
    
    
}

nav ul{
    display: flex;
    margin: 0 35px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    
    
}
nav li{
    
    color :white;
    display: flex;
    justify-content: space-around;
    
    
}
nav li:hover{
    text-decoration: 3px underline yellow;
    
}
nav a{
    text-decoration: none;
    font-size: 1.3rem;
}

nav img{
    position:absolute;
    left:920px;
    top:1px;
    width: 150px;
    height: 80px;
}


@keyframes slideNav {
    from{
        position: absolute;
        left:15000px;}
    to{position:absolute;
        left:0px}
    
}