.TopImg{
    width: 60%;
    height: 500px;
}

.TopContainer{
    margin-top: 100px;
    text-align: center;
}


.TopContainer p{
    margin-top: 90px;
    text-align: center;
}



.local{
    width: 50%;
    height: 300px;
}

.TopParaph{
    width: 90%;
    font-size: 1.5rem;
    margin: 150px auto;
}

.imgtourne{
    width: 70%;
    height: 70%;
}