.container{
    display: flex;
    
   
    width: 100vw;
    background-color: rgb(243, 0, 0);
}

.card{
    border: 5px solid #000;
    width: 600px;
    margin: 0 auto;

}

img{
    width: 250px;
   
}