.CardForm form {
    width: 80%;
    margin: 50px auto;
}

.CardForm label+
input {
    margin: 20px 0;
    display: inline-block;
}

.CardForm label {
    width: 30%;
    
    text-align: right;
}

.CardForm label+input {
    width: 30%;
    
    margin: 0 30% 0 4%;
}










