.ShopContainer {
   
    display: flex;
    
    
}
.LeftSide {
    
    width: 75vw;
    height: 100vh;
    
}


.LeftSide ul {
    display: flex;
    
    
}

.Basket{
    border: 10px solid black;
    width: 25vw;
    height: 100vh;
    text-align: center;

}
.PanierTop{

}

.PrixContainer{
    
    display: flex;
    height: 90vh;
    justify-content: flex-end;
    align-items: flex-end;
}
.PrixBottomRight{

}

.Icon{
    height: 80px;
    color: rgb(0, 0, 0);
}
